In [41]:
# En quête de fripes  
## Analyse des flux et impacts des vêtements usagés

# Projet réalisé dans le cadre du bootcamp Data Analytics du Wagon.

In [42]:
## Contexte
# Ce notebook vise à documenter la démarche d’analyse de données ayant conduit à la présentation finale du projet « En quête de fripes ».

# L’objectif est de rendre l’analyse compréhensible.

In [43]:
## Objectifs de l’analyse
# - Identifier des indicateurs clés
# - Produire des visualisations claires
# - Interpréter les résultats*/

In [44]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
## Données
# Les données utilisées proviennent de sources ouvertes mentionnées dans la présentation finale du projet.

# Elles sont chargées et analysées ci-dessous.

In [46]:
## Données
# Les données utilisées proviennent de sources ouvertes mentionnées dans le document de cadrage.

# Elles sont chargées et analysées ci-dessous.

In [87]:
## Première partie de l'analyse : imports exports des vêtements usagés.
# Source : https://comtradeplus.un.org (ONU echanges internationaux)
# Nous avons un fichier par année, pour réaliser notre analyse sur 10 ans (de 2014 à 2024) il faut joindre tout les csv téléchargés en une seule table.

folder = ['trade_data/TradeData_2014.csv', 'trade_data/TradeData_2015.csv', 'trade_data/TradeData_2016.csv', 'trade_data/TradeData_2017.csv', 'trade_data/TradeData_2018.csv', 'trade_data/TradeData_2019.csv', 'trade_data/TradeData_2020.csv', 'trade_data/TradeData_2021.csv', 'trade_data/TradeData_2022.csv', 'trade_data/TradeData_2023.csv', 'trade_data/TradeData_2024.csv']

df_list = []
for file in folder :
    df_list.append(pd.read_csv(file, encoding="latin1"))
data = pd.concat(df_list, ignore_index=True)

#On obtient une table de 47 colonnes et 24832 lignes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24832 entries, 0 to 24831
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  24832 non-null  object
 1   freqCode                  24832 non-null  int64
 2   refPeriodId               24832 non-null  int64
 3   refYear                   24832 non-null  int64
 4   refMonth                  24832 non-null  int64
 5   period                    24832 non-null  int64
 6   reporterCode              24832 non-null  object
 7   reporterISO               24832 non-null  object
 8   reporterDesc              24832 non-null  object
 9   flowCode                  24832 non-null  object
 10  flowDesc                  24832 non-null  int64
 11  partnerCode               24832 non-null  object
 12  partnerISO                24832 non-null  object
 13  partnerDesc               24832 non-null  int64
 14  partner2Code              24832 non-null  object
 15  partner2ISO               24832 non-null  object
 16  partner2Desc              24832 non-null  object
 17  classificationCode        24832 non-null  object
 18  classificationSearchCode  24832 non-null  bool
 19  isOriginalClassification  24832 non-null  int64
 20  cmdCode                   24832 non-null  object
 21  cmdDesc                   24832 non-null  int64
 22  aggrLevel                 24832 non-null  bool
 23  isLeaf                    24832 non-null  object
 24  customsCode               24832 non-null  object
 25  customsDesc               24832 non-null  int64
 26  mosCode                   24832 non-null  int64
 27  motCode                   24832 non-null  object
 28  motDesc                   24832 non-null  int64
 29  qtyUnitCode               21807 non-null  object
 30  qtyUnitAbbr               24832 non-null  float64
 31  qty                       24832 non-null  bool
 32  isQtyEstimated            24832 non-null  int64
 33  altQtyUnitCode            18470 non-null  object
 34  altQtyUnitAbbr            24832 non-null  int64
 35  altQty                    24832 non-null  bool
 36  isAltQtyEstimated         24691 non-null  float64
 37  netWgt                    24832 non-null  bool
 38  isNetWgtEstimated         24832 non-null  int64
 39  grossWgt                  24832 non-null  bool
 40  isGrossWgtEstimated       14955 non-null  float64
 41  cifvalue                  18068 non-null  float64
 42  fobvalue                  24832 non-null  float64
 43  primaryValue              24832 non-null  int64
 44  legacyEstimationFlag      24832 non-null  bool
 45  isReported                24832 non-null  bool
 46  isAggregate               0 non-null      float64
dtypes: bool(8), float64(6), int64(16), object(17)
memory usage: 7.6+ MB

In [88]:
data

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,M,20240101,2024,1,202401,251,FRA,France,M,Import,...,True,0,False,1782446.709,NaN,1782446.709,6,False,True,NaN
1,M,20240101,2024,1,202401,251,FRA,France,M,Import,...,True,0,False,30.534,NaN,30.534,6,False,True,NaN
2,M,20240101,2024,1,202401,251,FRA,France,M,Import,...,False,0,False,4.362,NaN,4.362,0,False,True,NaN
3,M,20240101,2024,1,202401,251,FRA,France,M,Import,...,True,0,False,750.273,NaN,750.273,6,False,True,NaN
4,M,20240101,2024,1,202401,251,FRA,France,M,Import,...,False,0,False,430.753,NaN,430.753,0,False,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24827,M,20141201,2014,12,201412,251,FRA,France,X,Export,...,False,0,False,0.000,122594.802,122594.802,0,False,True,NaN
24828,M,20141201,2014,12,201412,251,FRA,France,X,Export,...,False,0,False,0.000,1301414.973,1301414.973,0,False,True,NaN
24829,M,20141201,2014,12,201412,251,FRA,France,X,Export,...,False,0,False,0.000,90840.011,90840.011,0,False,True,NaN
24830,M,20141201,2014,12,201412,251,FRA,France,X,Export,...,False,0,False,0.000,569688.501,569688.501,0,False,True,NaN
24831,M,20141201,2014,12,201412,251,FRA,France,X,Export,...,False,0,False,0.000,7140472.711,7140472.711,0,False,True,NaN

In [95]:
# Nous devons maintenant séléctionner les colonnes qui nous interessent pour notre étude.
df_selected_data = data[['refPeriodId', 'refMonth', 'flowCode', 'partnerISO', 'isAltQtyEstimated', 'fobvalue']]
df_selected_data.head(10)

,refPeriodId,refMonth,flowCode,partnerISO,isAltQtyEstimated,fobvalue
0,2024,202401,Import,World,910346.167,1782446.709
1,2024,202401,Import,Afghanistan,15.595,30.534
2,2024,202401,Import,Algeria,5.000,4.362
3,2024,202401,Import,Australia,88.303,750.273
4,2024,202401,Import,Brazil,113.000,430.753
5,2024,202401,Import,Myanmar,17.266,33.806
6,2024,202401,Import,Canada,126.872,343.512
7,2024,202401,Import,Chile,120.860,236.641
8,2024,202401,Import,China,25457.546,96366.508
9,2024,202401,Import,Dominican Rep.,8741.000,6269.363
10,2024,202401,Import,France,95555.000,27631.434
11,2024,202401,Import,Germany,106380.000,68213.809
12,2024,202401,Import,"China, Hong Kong SAR",4.000,85.060
13,2024,202401,Import,Italy,8.000,6811.348
14,2024,202401,Import,Japan,357.000,25805.915
15,2024,202401,Import,Kenya,55.000,454.744
16,2024,202401,Import,Rep. of Korea,275.000,3234.463
17,2024,202401,Import,Luxembourg,81.000,269.357
18,2024,202401,Import,Madagascar,15203.000,10368.604
19,2024,202401,Import,Malaysia,10.025,19.629
20,2024,202401,Import,Mexico,55.025,375.137
21,2024,202401,Import,"Other Asia, nes",10.000,1266.086
22,2024,202401,Import,Netherlands,16529.000,87135.311
23,2024,202401,Import,Nicaragua,22.278,43.621
24,2024,202401,Import,Norway,1.000,9.815
25,2024,202401,Import,Pakistan,8399.000,24448.225
26,2024,202401,Import,Poland,8.000,87.241
27,2024,202401,Import,Portugal,1.000,37.077
28,2024,202401,Import,Qatar,1.000,46.892
29,2024,202401,Import,Russian Federation,5.000,357.688
30,2024,202401,Import,India,8814.996,21426.412
31,2024,202401,Import,Singapore,41.215,80.698
32,2024,202401,Import,Viet Nam,62.594,330.426
33,2024,202401,Import,Spain,4415.000,17497.291
34,2024,202401,Import,Switzerland,29700.000,15627.060
35,2024,202401,Import,Syria,525.000,1616.141
36,2024,202401,Import,Thailand,1500.000,17474.390
37,2024,202401,Import,United Arab Emirates,726.555,2527.811
38,2024,202401,Import,Tunisia,171000.000,107912.867
39,2024,202401,Import,Türkiye,21252.973,86825.605
40,2024,202401,Import,Ukraine,32.000,466.740
41,2024,202401,Import,United Kingdom,262505.000,356042.886
42,2024,202401,Import,USA,232.695,11726.293
43,2024,202401,Import,"Areas, nes",131893.370,781724.881
44,2024,202401,Export,World,NaN,7575194.043
45,2024,202401,Export,Algeria,NaN,78118.944
46,2024,202401,Export,Antigua and Barbuda,87.970,62.159
47,2024,202401,Export,Argentina,14.000,1897.494
48,2024,202401,Export,Australia,141.000,4335.882
49,2024,202401,Export,Austria,16.000,239.913