In [24]:
# En quête de fripes  
## Analyse des flux et impacts des vêtements usagés

# Projet réalisé dans le cadre du bootcamp Data Analytics du Wagon.

In [25]:
## Contexte
# Ce notebook vise à documenter la démarche d’analyse de données ayant conduit à la présentation finale du projet « En quête de fripes ».

# L’objectif est de rendre l’analyse compréhensible.

In [26]:
## Objectifs de l’analyse
# - Identifier des indicateurs clés
# - Produire des visualisations claires
# - Interpréter les résultats*/

In [28]:
## Données
# Les données utilisées proviennent de sources ouvertes mentionnées dans la présentation finale du projet.

# Elles sont chargées et analysées ci-dessous.

In [29]:
## Données
# Les données utilisées proviennent de sources ouvertes mentionnées dans le document de cadrage.

# Elles sont chargées et analysées ci-dessous.

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
## Première partie de l'analyse : imports exports des vêtements usagés.
# Source : https://comtradeplus.un.org (ONU echanges internationaux)
# Nous avons un fichier par année, pour réaliser notre analyse sur 10 ans (de 2014 à 2024) il faut joindre tout les csv téléchargés en une seule table.

folder = ['trade_data/TradeData_2014.csv', 'trade_data/TradeData_2015.csv', 'trade_data/TradeData_2016.csv', 'trade_data/TradeData_2017.csv', 'trade_data/TradeData_2018.csv', 'trade_data/TradeData_2019.csv', 'trade_data/TradeData_2020.csv', 'trade_data/TradeData_2021.csv', 'trade_data/TradeData_2022.csv', 'trade_data/TradeData_2023.csv', 'trade_data/TradeData_2024.csv']

df_list = []
for file in folder :
    df_list.append(pd.read_csv(file, encoding="latin1"))
data = pd.concat(df_list, ignore_index=True)

#On obtient une table de 47 colonnes et 24832 lignes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24832 entries, 0 to 24831
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  24832 non-null  object
 1   freqCode                  24832 non-null  int64
 2   refPeriodId               24832 non-null  int64
 3   refYear                   24832 non-null  int64
 4   refMonth                  24832 non-null  int64
 5   period                    24832 non-null  int64
 6   reporterCode              24832 non-null  object
 7   reporterISO               24832 non-null  object
 8   reporterDesc              24832 non-null  object
 9   flowCode                  24832 non-null  object
 10  flowDesc                  24832 non-null  int64
 11  partnerCode               24832 non-null  object
 12  partnerISO                24832 non-null  object
 13  partnerDesc               24832 non-null  int64
 14  partner2Code              24832 non-null  object
 15  partner2ISO               24832 non-null  object
 16  partner2Desc              24832 non-null  object
 17  classificationCode        24832 non-null  object
 18  classificationSearchCode  24832 non-null  bool
 19  isOriginalClassification  24832 non-null  int64
 20  cmdCode                   24832 non-null  object
 21  cmdDesc                   24832 non-null  int64
 22  aggrLevel                 24832 non-null  bool
 23  isLeaf                    24832 non-null  object
 24  customsCode               24832 non-null  object
 25  customsDesc               24832 non-null  int64
 26  mosCode                   24832 non-null  int64
 27  motCode                   24832 non-null  object
 28  motDesc                   24832 non-null  int64
 29  qtyUnitCode               21807 non-null  object
 30  qtyUnitAbbr               24832 non-null  float64
 31  qty                       24832 non-null  bool
 32  isQtyEstimated            24832 non-null  int64
 33  altQtyUnitCode            18470 non-null  object
 34  altQtyUnitAbbr            24832 non-null  int64
 35  altQty                    24832 non-null  bool
 36  isAltQtyEstimated         24691 non-null  float64
 37  netWgt                    24832 non-null  bool
 38  isNetWgtEstimated         24832 non-null  int64
 39  grossWgt                  24832 non-null  bool
 40  isGrossWgtEstimated       14955 non-null  float64
 41  cifvalue                  18068 non-null  float64
 42  fobvalue                  24832 non-null  float64
 43  primaryValue              24832 non-null  int64
 44  legacyEstimationFlag      24832 non-null  bool
 45  isReported                24832 non-null  bool
 46  isAggregate               0 non-null      float64
dtypes: bool(8), float64(6), int64(16), object(17)
memory usage: 7.6+ MB

In [31]:
data.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,M,20240101,2024,1,202401,251,FRA,France,M,Import,...,True,0,False,1782446.709,NaN,1782446.709,6,False,True,NaN
1,M,20240101,2024,1,202401,251,FRA,France,M,Import,...,True,0,False,30.534,NaN,30.534,6,False,True,NaN
2,M,20240101,2024,1,202401,251,FRA,France,M,Import,...,False,0,False,4.362,NaN,4.362,0,False,True,NaN
3,M,20240101,2024,1,202401,251,FRA,France,M,Import,...,True,0,False,750.273,NaN,750.273,6,False,True,NaN
4,M,20240101,2024,1,202401,251,FRA,France,M,Import,...,False,0,False,430.753,NaN,430.753,0,False,True,NaN

In [32]:
# Nous devons maintenant séléctionner les colonnes qui nous interessent pour notre étude.
df_selected_data = data[['refPeriodId', 'refMonth', 'flowCode', 'partnerISO', 'isAltQtyEstimated', 'fobvalue']]
df_selected_data.head(10)

,refPeriodId,refMonth,flowCode,partnerISO,isAltQtyEstimated,fobvalue
0,2024,202401,Import,World,910346.167,1782446.709
1,2024,202401,Import,Afghanistan,15.595,30.534
2,2024,202401,Import,Algeria,5.000,4.362
3,2024,202401,Import,Australia,88.303,750.273
4,2024,202401,Import,Brazil,113.000,430.753
5,2024,202401,Import,Myanmar,17.266,33.806
6,2024,202401,Import,Canada,126.872,343.512
7,2024,202401,Import,Chile,120.860,236.641
8,2024,202401,Import,China,25457.546,96366.508
9,2024,202401,Import,Dominican Rep.,8741.000,6269.363

In [33]:
# Nous devons ensuite renomer les colonnes pour plus de clarté

df_selected_data = df_selected_data.rename(columns={'refPeriodId': "annee", 'refMonth': "date_date", 'flowCode': "flux", 'partnerISO': "partenaire", 'isAltQtyEstimated': "poids_kg", 'fobvalue': "valeux_USD"})
df_selected_data.head()

   annee  date_date    flux   partenaire    poids_kg   valeux_USD
0   2024     202401  Import        World  910346.167  1782446.709
1   2024     202401  Import  Afghanistan      15.595       30.534
2   2024     202401  Import      Algeria       5.000        4.362
3   2024     202401  Import    Australia      88.303      750.273
4   2024     202401  Import       Brazil     113.000      430.753

In [34]:
# Nous pouvons ensuite exporter notre dataframe en csv

df_selected_data.to_csv('import_export_france.csv', index=False)